---
name: Checks

on: [push]

jobs:
  test:
    name: Test and Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUBUSER }}
          password: ${{ secrets.DOCKERHUBTOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: docker-compose run --rm app sh -c "python manage.py wait_for_db &&
                                                python manage.py test" 
      - name: Lint
        run: docker-compose run --rm app sh -c "flake8"
         